
    .listofNews-wrapper-recomentation .carousel {
        position: relative;
        margin: 0 auto;
        }
    
        .listofNews-wrapper-recomentation .listofNews-content .container {
        padding: 0;
        margin: 0 auto;
        }
        .listofNews-wrapper-recomentation .carousel-content {
        position: relative;
        overflow: hidden;
        transition: width .4s;
        height: 100%;
        }
        .listofNews-wrapper-recomentation .slide {
        height: 100%;
        background-color: black;
        z-index: 1;
        transition: left .4s cubic-bezier(.47,.13,.15,.89);
        border: 0;
        background-color: transparent;
        margin: 12px 12px;
        }
        .listofNews-wrapper-recomentation .nav-left {
        left: -15px;
        }
        .listofNews-wrapper-recomentation .nav-right {
        right: 3px;
        }
        .listofNews-wrapper-recomentation .carousel-arrow-icon-left {
        margin-left: 5px;
        margin-top: 0;
        height: 60px;
        background-color: #111;
        display: flex;
        align-items: center;
        }
        .listofNews-wrapper-recomentation .carousel-arrow-icon-right {
        margin-left: 10px;
        margin-top: 2px;
        height: 60px;
        background-color: #111;
        display: flex;
        align-items: center;
        }
    
        .listofNews-wrapper-recomentation .nav {
        position: absolute;
        top: 45%;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        z-index: 2;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        }
    
        .listofNews-wrapper-recomentation   {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 0px 12px -3px #111;
}
        .listofNews-wrapper-recomentation .homehd-wrapper img {
        width: 90px;
        height: 60px !important;
        }
        .listofNews-wrapper-recomentation .listofNews-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        }
        .listofNews-header {
        padding: 20px 0;
        }
        .listofNews-header h6 {
        font-size: 25px;
        color: #111;
        }
        .listofNews-header span {
        font-size: 16px;
        color: #111;
        font-weight: bold;
        }
        .listofNews-content .container {
        padding: 0;
        margin: 0 auto;
        }
    
    
    
    
    
        .listofNews-wrapper-recomentation .slideItemimg {
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    
        .listofNews-wrapper-recomentation  .slideItemDetails {
        height: 60px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        }
        .listofNews-wrapper-recomentation .carousel-content {
        display: flex;
        flex-wrap: wrap;
        }
        .listofNews-wrapper-recomentation  .favicon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        }
        .listofNews-wrapper-recomentation  .slide-main-wrapper {
        border: 1px solid #a89494;
        width: 260px;
        height: 337px;
        margin: 0 auto;
        position: relative;
        background-color: #fff;
        cursor: pointer;
        }
        .listofNews-wrapper-recomentation .slideItemCreatedWhen {
        padding-top: 10px;
        font-size: 11px;
        text-align: right;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        }
        .listofNews-wrapper-recomentation .slide-main-wrapper:hover .slideItemCreatedWhen {
        background-color: #000000;
        color: #fff;
        margin-top: 10px;
        }
        .listofNews-wrapper-recomentation .slideItemDetails label {
        font-size: 20px;
        font-weight: bold;
        color: #111;
        margin: 0;
        }
        .listofNews-wrapper-recomentation .slideItemDetails span {
        text-transform: capitalize;
        }
        .listofNews-wrapper-recomentation .slideItemimg img {
        min-height: 150px;
        max-width: 150px;
        }
        .listofNews-wrapper-recomentation .loadmorebutton {
        margin: 50px;    
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        }
        .listofNews-wrapper-recomentation .loadmorebutton button {
        background-color: black;
        color: #fff;
        height: 45px;
        width: 120px;
        border-radius: 30px;
        }
    
    
    
        /*-- carousel for recomentation --*/
    
        .listofNews-wrapper-recomentation  .carousel {
        position: relative;
        margin: 0 auto;
        }
    
        .listofNews-wrapper-recomentation .listofNews-content .container {
        padding: 0;
        margin: 0 auto;
        }
        .listofNews-wrapper-recomentation  .carousel-content {
        position: relative;
        overflow: hidden;
        transition: width .4s;
        height: 100%;
        }
        .listofNews-wrapper-recomentation .slide {
        height: 100%;
        background-color: black;
        z-index: 1;
        transition: left .4s cubic-bezier(.47,.13,.15,.89);
        border: 0;
        background-color: transparent;
        margin: 12px 0px;
        }
        .listofNews-wrapper-recomentation  .nav-left {
        left: -15px;
        }
        .listofNews-wrapper-recomentation  .nav-right {
        right: 3px;
        }
        .listofNews-wrapper-recomentation .carousel-arrow-icon-left {
        margin-left: 5px;
        margin-top: 0;
        height: 60px;
        background-color: #111;
        display: flex;
        align-items: center;
        }
        .listofNews-wrapper-recomentation .carousel-arrow-icon-right {
        margin-left: 10px;
        margin-top: 2px;
        height: 60px;
        background-color: #111;
        display: flex;
        align-items: center;
        }
    
        .listofNews-wrapper-recomentation .nav {
        position: absolute;
        top: 45%;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        z-index: 2;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        }
    
        .listofNews-wrapper-recomentation .listofNews-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        .listofNews-wrapper-recomentation .homehd-wrapper img {
        width: 90px;
        height: 60px !important;
        }
        .listofNews-wrapper-recomentation .listofNews-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        }
        .listofNews-wrapper-recomentation .listofNews-header {
            padding: 0px 0 20px 0;
        }
        .listofNews-wrapper-recomentation .listofNews-header h6 {
        font-size: 25px;
        color: #111;
        }
        .listofNews-wrapper-recomentation .listofNews-header span {
        font-size: 16px;
        color: #111;
        font-weight: bold;
        }
        .listofNews-wrapper-recomentation .listofNews-content .container {
        padding: 0;
        margin: 0 auto;
        }
    
    
    
    
    
        .listofNews-wrapper-recomentation .slideItemimg {
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    
        .listofNews-wrapper-recomentation .slideItemDetails {
        height: 60px;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        }
        .listofNews-wrapper-recomentation .carousel-content {
        display: flex;
        flex-wrap: wrap;
        }
        .favicon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        }
        
    
            
        .listofNews-wrapper-recomentation .slide-main-wrapper {
        border: 1px solid #a89494;
        width: 260px;
        height: 337px;
        margin: 0 auto;
        position: relative;
        background-color: #fff;
        cursor: pointer;
        }
        .listofNews-wrapper-recomentation .slideItemCreatedWhen {
        padding-top: 10px;
        font-size: 11px;
        text-align: right;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        }
        .listofNews-wrapper-recomentation .slideItemDetails label {
        font-size: 20px;
        font-weight: bold;
        color: #111;
        margin: 0;
        }
        .listofNews-wrapper-recomentation  .slideItemDetails span {
        text-transform: capitalize;
        }
        .listofNews-wrapper-recomentation .slideItemimg img {
        min-height: 150px;
        max-width: 150px;
        }
        .listofNews-wrapper-recomentation .loadmorebutton {
        margin: 50px;
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        }
        .listofNews-wrapper-recomentation .loadmorebutton button {
        background-color: black;
        color: #fff;
        height: 45px;
        width: 120px;
        border-radius: 30px;
        }
        .slide-main-wrapper:hover {
            border: 1px solid #000000;
        }
        .slide-main-wrapper:hover .favicon{
            animation: favani 0.9s infinite;
        }
        @keyframes favani {
            0% {
                transform: scale(1);
                transition: .5s;
            }
            50% {
                transform: scale(0.5);
                transition: .5s;
            }
            100% {
                transform: scale(1);
                transition: .5s;
            }
        }
    
    /*-- End carousel for recomentation --*/







    .listofNews-card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    height: auto;
    margin: 15px 0;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 0 7px -1px #c1b7b7;
    position: relative;
}
    .listofNews-card-lft {
    width: 140px;
}
    .listofNews-card-lft img {
        width: 100%;
        height: 100%;
    }
    .listofNews-card-rgt {
    width: 87%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: ;
}
    .listofNews-card-date {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .listofNews-card-prdname {
    display: flex;
    flex-direction: column;
    text-align: left;
}
    
.listofNews-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.listofNews-card-prdname h3 label {
    position: absolute;
    right: 20px;
    font-size: 14px;
    color: #F42A2A;
    top: 20px;
    background-color: rgb(228, 223, 223);
    padding: 7px;
}
.listofNews-card-prdname h2 {
    margin-bottom: 20px;
    color: #F42A2A;
    font-style: italic;
    margin-top: 30px;
}
h6 {
    margin: 0;
}
.newsDesc {
    font-size: 16px;
    line-height: 23px;
    word-break: break-all;

}
.listofNews-card-prdname label {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16px;
    background-color: #ddd;
    padding: 10px;
}

.newsPostbtn {
    height: 55px;
    display: flex;
    align-items: center;
}
.newsPostbtn button {
    background-color: #F42A2A;
    color: #fff;
    height: 45px;
    width: auto;
    border-radius: 30px;
}
.newsPostbtn svg {
    color: #fff;
}
.newsPostbtn button svg {
    color: #fff ;
}
.newsPostbtn button:hover {
    background-color: #fff;
    color:#F42A2A;
    border:1px solid #F42A2A;
}
.newsPostbtn button:hover svg {
    color: #F42A2A ;
}
.deleteIcon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #F42A2A;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor:pointer;
}
.newsAlertStatus {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 30%;
    z-index: 99999999;
    transition: 5s;
    /* animation: alerPopup 5s; */
}
/* @keyframes alerPopup {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(120%);
    }
} */
