body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
#site-header {
  position: fixed;
  top: 21px;
  width: 100%;
  left: 0;
  z-index: 99;
}
/*-- container --*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}


/*-- //container --*/
.btn-style {
  padding: 12px 45px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
}

.btn-style.btn-white {
  background: #fff;
  color: #F42A2A;
}

.btn-style.btn-white:hover {
  background: #F42A2A;
  color: #fff;
}
.transparent-btn {
  background: rgba(255, 255, 255, 0.25);
}
.title-subhny {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
a.link-style1 {
  transition: all 0.5s ease;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  color: var(--heading-color);
  box-shadow: none;
}
.btn-white {
  padding: 19px 45px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  background-color: #fff;
  color: var(--primary-color);
}

a.link-style,
a.link-style:active,
a.link-style:focus {
  transition: all 0.5s ease;
  font-size: 19px;
  font-weight: 600;
  display: inline-block;
  color: var(--secondary-color);
  box-shadow: none;
}
.title-subhny span {
  color: var(--heading-color);
}

@media (max-width: 1080px) {
  .title-w3l {
    font-size: 32px !important;
    line-height: 40px;
  }
}

@media (max-width: 736px) {
  .title-left {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (max-width: 568px) {
  .title-w3l {
    font-size: 30px !important;
    line-height: 38px;
  }
}

@media (max-width: 440px) {
  .title-w3l {
    font-size: 28px !important;
    line-height: 34px;
  }


  .btn-white,
  .btn-style {
    padding: 12px 25px;
     font-size:16px;
  }

  .title-left {
    font-size: 22px;
    line-height: 32px;
  }
}


/*-- toggle switch --*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}

.theme-switch input {
  display: none;
}

/*-- //toggle switch --*/

.w3l-main-slider .banner-view {
  min-height: calc(100vh);
  background: url('https://www.expatica.com/app/uploads/sites/10/2014/05/childcare-uk-1920x1080.jpg') no-repeat center;
  -ms-background-size: cover;
    -o-background-size: cover;
	  -moz-background-size: cover;
	    -webkit-background-size: cover;
  background-size: cover;
  z-index: 0;
  position: relative;
  display: grid;
  align-items: center;
  padding: 3em 0;
}

.w3l-main-slider .banner-view:before {
  content: "";
  background: rgba(7, 6, 111, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.w3l-main-slider .banner-info-bg h5 {
  color: #fff;
  font-size: 50px;
  line-height: 1.1;
  font-weight: 700;
  margin: 0 0 0 -23px;
}
.w3l-main-slider  p {
  color: #fff;
  font-size: 16px;
  line-height: 1.1;
  font-style: italic;
  margin-bottom:50px;
}