.notfound {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    color: #111;
    padding: 110px 0;
}
.notfound h3 {
    font-weight: bold;
}
.notfound p {
    color: #111;
    padding-top: 10px;
}
.notfound img {
    width: 200px;
    border-radius: 100%;
    margin-top: 20px;
}
.prd-list-main-wrapper {
    width: 100%;
}